@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="w-full h-screen flex flex-col">
            <div class="h-20 bg-header">
                  <div class="flex justify-center">
                    <div class="w-[1280px] pt-3 mx-14">
                      <img src="agora-logo.svg" height="50" width="250" alt="Agora logo" />
                    </div>
                  </div>
                </div>
            <div class="flex justify-center">
            <div class="w-[1280px] p-5">
                @Body
            </div>
        </div>
        </div>
    </main>
</div>
