@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Nunito:wght@200;300;400;600;700;800&display=swap');
html {
    @apply w-full;
    font-family: 'Inter', sans-serif!important;
}

h1 {
    font-size: 2.25rem!important;
    font-weight: 600!important;
    color: rgb(17 24 39)!important;}

h2 {
    font-size: 1.5rem!important;
    font-weight: 600!important;
    color: rgb(17 24 39)!important;
}

h3 {
    font-size: 1.5rem!important;
    font-weight: 600!important;
    color: rgb(17 24 39)!important;
}

select {
    @apply w-full border-[1px] border-gray-300 px-3 py-3 outline-none active:outline-none focus:border-gray-400!important;
}

option {
    @apply rounded-none p-2 h-2!important;
}



input:disabled,
select:disabled {
    background-color: #f7f5f7!important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none!important;
    margin: 0;
}



.card-parent {
    background-color: #f9f9f9;
    padding-top: 9px;
    padding-inline: 20px;
    border: solid 1px #ccc;
    border-left: solid 5px #01464d;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}

.card-child-01 {
    background-color: #f8f8f8;
    padding-top: 9px;
    padding-inline: 20px;
    border: solid 1px #ccc;
    border-left: solid 5px rgba(1, 70, 77, 0.8);
    margin-left: 20px;
}

.card-child-02 {
    background-color: #f8f8f8;
    padding-top: 9px;
    padding-inline: 20px;
    border: solid 1px #ccc;
    border-left: solid 5px rgba(1, 70, 77, 0.6);
    margin-left: 40px;
}

.card-child-03 {
    background-color: #f8f8f8;
    padding-top: 9px;
    padding-inline: 20px;
    border: solid 1px #ccc;
    border-left: solid 5px rgba(1, 70, 77, 0.5);
    margin-left: 60px;
}

.card-child-04 {
    background-color: #f8f8f8;
    padding-top: 9px;
    padding-inline: 20px;
    border: solid 1px #ccc;
    border-left: solid 5px rgba(1, 70, 77, 0.4);
    margin-left: 80px;
}

.card-child-05 {
    background-color: #f8f8f8;
    padding-top: 9px;
    padding-inline: 20px;
    border: solid 1px #ccc;
    border-left: solid 5px rgba(1, 70, 77, 0.3);
    margin-left: 100px;
}
.card-child-06 {
    background-color: #f8f8f8;
    padding-top: 9px;
    padding-inline: 20px;
    border: solid 1px #ccc;
    border-left: solid 5px rgba(1, 70, 77, 0.2);
    margin-left: 120px;
}

.card-title {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    margin-top: 0;
}

.card-title-icons {
    font-size: 15px;
    font-weight: 600;
    text-align: right;
    margin-top: 0;
}

.card-title-child {
    margin-left: 15px;
}

.card-title-child-icon {
    margin-left: -45px;
}

.card-title-parent {
    margin-right: 45px;
}

.card-title-sm {
    font-size: 10px;
    padding: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.card-icon {
    margin-left: 10px;
    margin-top: 3px;
    border-radius: 50%;
    padding: 7px;
    font-size: 17px;
    color: #767676;
}

.card-icon:hover {
    background-color: #e3e3e3;
}

.card-btn-action {
    border: none 0 rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    min-width: 10px;
    min-height: 10px;
    margin: 0;
    padding: 0;
}

.card-inner {
    padding: 10px;
    background-color: #e7e7e7;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
