<section id="header-passo02" class="my-4">
        <h1 class="text-left mb-4">Informações bancárias e patrimoniais</h1>
        <p class="text-left mb-4">
          Preencha abaixo as informações relativas a uma ou mais contas bancárias que serão utilizadas em suas negociações na Ágora.
        </p>
        <p class="text-left mb-4">
          Informe se você irá operar uma carteira própria, isto é, com ativos como ações e fundos de sua propriedade, ou uma carteira de terceiros, formada por ativos pertencentes a outra pessoa. Neste caso, é necessário que você também seja cadastrado junto à CVM como administrador de carteira de terceiros.
        </p>
      </section>