<h3>ConfirmModal</h3>

@code {
    [Parameter]
    public AlertParams TypeAlert { get; set; }

    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public AlertIcon Icon { get; set; }
}