<div class="mt-1">
    <h3 class='text-left mt-5 text-2xl text-gray-900 font-semibold'>@Label</h3>
    <hr class='border-[1px] border-gray-900' />
</div>

@code{

    [Parameter]
    public string Label { get; set; }
}