@page "/"

<PageTitle>Index</PageTitle>

    <div class="w-[1230px]">
      <div class="flex flex-col justify-center align-middle text-center mt-20">
        <div class="h-15 p-10 border-[1px] border-gray-200 rounded-lg shadow-md">
          <h1 class="mb-5">Bem vindo ao portal de teste</h1>
          <NavLink href="/passo01" class="py-3 px-4 rounded-lg bg-teal-300 text-gray-700 font-normal text-sm hover:bg-teal-200 transition-all ease-in-out">Cadastro de Pessoa Jurídica</NavLink>
          <NavLink href="/passo02" class="py-3 px-4 rounded-lg bg-teal-300 text-gray-700 font-normal text-sm hover:bg-teal-200 transition-all ease-in-out">Cadastro de Pessoa Jurídica</NavLink>

        </div>
      </div>
    </div>

