<section id="header-passo01" class="my-4">
        <h1 class="text-left mb-4">Cadastre-se</h1>
        <p class="text-left mb-4">
          Produtos exclusivos, segurança nas operações e atendimento
          diferenciado: sua empresa está a apenas algumas etapas de entrar para
          a Ágora e operar com segurança, agilidade e conveniência.
        </p>
        <p class="text-left mb-4">
          Se desejar consultar os documentos necessários para a abertura da
          conta, Clique Aqui.
        </p>
        <p class="text-left mb-4">
          As informações solicitadas são uma exigência da CVM e do Banco Central
          e, portanto, absolutamente necessárias para a abertura de sua conta.
        </p>
      </section>